/* General Styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  text-align: center;
  flex-direction: column;
  min-height: 100vh; /* Peaks kõik olema nüüd full vaatega */
  overflow-x: hidden; /* Enam ei tohiks olla seda et mingi horizontal scrolling on? */
}


* {
  box-sizing: border-box;
  max-width: 100%;
}

/* Header */
header {
  width: 100%;
  background-color: #f2f2f2;
  padding: 15px;
  font-size: 20px;
  position: relative;
  color: #111111;
  font-family: 'Futura PT', sans-serif;
}

.h3-text {
  font-family: 'Futura PT', sans-serif;
  
}

/* Tagasi nupp */
.back-button {
  position: absolute;
  left: 20px;
  top: 20px;
  text-decoration: none;
  font-size: 18px;
  color: #111111;
}

/* Portfolio Grid */
.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 0px; /* Removes spacing between images */
  padding: 0;
  max-width: 1200px;
  margin: auto;
}

/* Portfolio Items */
.portfolio-item {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.1s ease-in-out;
}

/* Image Styling */
.portfolio-item img {
  width: 100%;
  height: auto;
  max-height: 300px; /* Ensures vertical images don’t get too large */
  object-fit: cover; /* Makes sure images fill the grid cells */
  transition: transform 0.1s ease-in-out;
}

/* Hover Effect */
.portfolio-item:hover {
  transform: scale(1.05);
}

/* Contact Section - Peaks nüüd jääma alla (Sticky) */
.contact {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  position: relative;
  width: 100%;
  bottom: 0;
  margin-top: auto;
}

/* Contact Text */
.contact h2 {
  font-size: 24px;
  margin-bottom: 10px;
  font-family: 'Futura PT', sans-serif;
}

.contact p {
  font-size: 18px;
  margin: 5px 0;
  font-family: 'Futura PT', sans-serif;
}

/* Contact Links */
.contact a {
  text-decoration: none;
  color: #111111;
  font-weight: bold;
  font-family: 'Futura PT', sans-serif;
}

.contact a:hover {
  color: gray;
}