body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

/* Tutvustus tekst */
.intro-text {
  position: absolute;
  top: -200px;
  left: 0%;
  transform: translate(-50%, 0%);
  text-align: center;
  font-family: 'Futura PT', sans-serif;
  color: #111111;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px 20px;
  border-radius: 8px;
  width: auto;
  white-space: nowrap;
}

.intro-text h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.intro-text p {
  font-size: 18;
  font-weight: 300;
}

.container {
  position: relative;
  text-align: center;
}

/* Logo pilt */
.logo img {
  width: 180px; /* Saab muuta suurust kui peaks vaja olema */
  transition: transform 0.5s ease-in-out;
}

.logo img:hover {
  transform: scale(1.05);
}

/* Saab vajutada nendele */
.clickable {
  position: absolute;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
}

.clickable:hover {
  color: gray; /* Highlight värv */
}

/* Positioning */
.top {
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Futura', sans-serif;
  font-size: 25px;
  color: #111111;
}

.left {
  left: -100px;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
  font-family: 'Futura PT', sans-serif;
  font-size: 25px;
  color: #111111;
}

.right {
  right: -85px;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  font-family: 'NEW YORK', sans-serif;
  font-size: 25px;
  color: #111111;
}

.bottom {
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Abril Fatface', sans-serif;
  font-size: 25px;
  font-weight:lighter;
  color: #111111;
}