/* General Styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  text-align: center;
  flex-direction: column;
  min-height: 100vh; /* Peaks kõik olema nüüd full vaatega */
  overflow-x: hidden; /* Enam ei tohiks olla seda et mingi horizontal scrolling on? */
}


* {
  box-sizing: border-box;
  max-width: 100%;
}

/* Header */
header {
  width: 100%;
  background-color: #f2f2f2;
  padding: 15px;
  font-size: 20px;
  position: relative;
  color: #111111;
  font-family: 'Futura PT', sans-serif;
}

.h3-text {
  font-family: 'Futura PT', sans-serif;
  
}

/* Tagasi nupp */
.back-button {
  position: absolute;
  left: 20px;
  top: 20px;
  text-decoration: none;
  font-size: 18px;
  color: #111111;
}

/* Tagasi nupp */
.button-2 {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

/* Portfolio osa */
.portfolio {
  display: flex;
  gap: 0px; /* Võtab ära vahed piltidelt kui peaks olema üldse pildid */
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  flex-grow: 1;
  flex-wrap: wrap;
}

/* Contact Section - Peaks nüüd jääma alla (Sticky) */
.contact {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  border-top: 2px solid #ccc;
  position: relative;
  width: 100%;
  bottom: 0;
  margin-top: auto;
}

/* Contact Text */
.contact h2 {
  font-size: 24px;
  margin-bottom: 10px;
  font-family: 'Futura PT', sans-serif;
}

.contact p {
  font-size: 18px;
  margin: 5px 0;
  font-family: 'Futura PT', sans-serif;
}

/* Contact Links */
.contact a {
  text-decoration: none;
  color: #111111;
  font-weight: bold;
  font-family: 'Futura PT', sans-serif;
}

.contact a:hover {
  color: gray;
}